h1{
    color: blue;
    text-align: center;
    font-family:cursive;   
    padding-top: 45px;
    text-transform: capitalize;
}
.div1{

    text-align: center;
    background-color: lightgrey;
    height: 150px;
    margin-top: -1.5%;
    margin: -1.5%;
}
.div2{
    display: inline-block;
    margin-left: -0.2%;
    margin-top: 5%;
    width: 100%;
    height: max-content;
    text-transform: capitalize;
    font-size: 40px;
    background-color: linen; 
    


}
#left_side{
    padding:20px;
    margin-left: 10%;
    width: max-content;
    float: left;
    
}
a{
    text-decoration: none;
}

#right_side{
    padding:20px;
    width: max-content;
    float: right;
    margin-right: 30%;
    
}