body{
    color: white;
    font-family:monospace;
}
h1{
    color: white;
    text-align: center;
    font-family:monospace;   
    padding-top: 45px;
    text-transform: uppercase;
}
.div1{
    text-align: center;
    background-color: blue;
    height: 120px;
    margin-top: -1.5%;
    margin: -1.5%;
}
.div2{ 
    margin-left: 8%;
    display: inline-block;
    margin-top: 5%;
    width: 75%;
    text-transform: capitalize;
    font-size: 40px;
    background-color: blue; 
    border: 2px solid blue;
    border-radius: 20px;
    text-align: center;

}
#left_side{
    padding:10px;
    float: left;
    margin-left: 10%;
}
a{
    text-decoration: none;
    color: white;
    font-family: monospace;
    text-transform: uppercase;
}

#right_side{
    float: right;
    color: white;
    padding:10px;
    margin-right: 10%;
}