h1{
    color: blue;
    text-align: center;
    font-family:cursive;   
    padding-top: 45px;
    text-transform: capitalize;
}
.div1{

    text-align: center;
    background-color: lightgrey;
    height: 150px;
    margin: -1.5%;
}
img{
    padding: 60px;
    width: 28%;
    height: auto;
    cursor: pointer;
    border-radius: 20px;

}
