h1{
    color: white;
    text-align: center;
    font-family:monospace;   
    text-transform: uppercase;
}
.div1{

    text-align: center;
    background-color: blue;
    height: 120px;
    width: 100%;
    margin:-0.2%;
    margin-top: -1.6%;
    position:fixed;
}
img{
    margin-top: 75px;
    padding: 60px;
    width: 28%;
    cursor: pointer;

}
nav{
    float: left;
    font-size: 35px;
    text-transform: capitalize;
    background-color: lightblue;
    margin-top: 120px;
    padding: 20px;
    width: 15%;
    border-radius: 15px;
    border: 2px solid blue;
    height: 800px;
}
nav a{
    text-decoration: none;
}
ul{
    color: blue;
    list-style-type: square;
}